<section>
    
    <mat-card class="example-card mat-elevation-z9" style="margin: 0px 33px;">

        <mat-card-header class="header">
        </mat-card-header>

        <div class="header-text">
            <h1>R$ 20 / mês</h1>
            <h3>Basic Plan</h3>
            <h4>unlimited tasks</h4>
        </div>

        <mat-card-content class="content-text">

            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example icon">check_circle</mat-icon>
                <p>Create to-do-lists</p>
            </span>
            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example icon">check_circle</mat-icon>
                <p>Share lists via WhatsApp</p>
            </span>
            <span>
                <mat-icon class="icon-Notcheck" aria-hidden="false" aria-label="Example icon">dangerous</mat-icon>
                <p>Offline mode</p>
            </span>
            <span>
                <mat-icon class="icon-Notcheck" aria-hidden="false" aria-label="Example icon">dangerous</mat-icon>
                <p>Invite colaborators</p>
            </span>
            <span>
                <mat-icon class="icon-Notcheck" aria-hidden="false" aria-label="Example home icon">dangerous</mat-icon>
                <p>Dark mode</p>
            </span>

        </mat-card-content>

        <mat-card-actions class="content-button">
            <button class="button" mat-raised-button>get in touch</button>
        </mat-card-actions>

    </mat-card>

    <!--Card Pro Plan-->

    <mat-card class="example-card mat-elevation-z9">

        <mat-card-header class="header">
        </mat-card-header>

        <div class="header-text">
            <h1>R$ 30 / mês</h1>
            <h3>Pro Plan</h3>
            <h4>unlimited everything</h4>
        </div>

        <mat-card-content class="content-text">

            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example icon">check_circle</mat-icon>
                <p>Create to-do-lists</p>
            </span>
            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example icon">check_circle</mat-icon>
                <p>Share lists via WhatsApp</p>
            </span>
            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example icon">check_circle</mat-icon>
                <p>Offline mode</p>
            </span>
            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example icon">check_circle</mat-icon>
                <p>Invite colaborators</p>
            </span>
            <span>
                <mat-icon class="icon-check" aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon>
                <p>Dark mode</p>
            </span>

        </mat-card-content>

        <mat-card-actions class="content-button">
            <button class="button" mat-raised-button>get in touch</button>
        </mat-card-actions>
    </mat-card>
</section>

<!-- <img class="img-maior" src="./../../../assets/layout/triMaior.png" alt="">
  <img class="img-menor" src="./../../../assets/layout/triMenor.png" alt=""> -->