 <section>
    <div class="content-menu">
        <div class="content-menu__text">
            <div class="content-menu__title">
                <h1>Organize</h1>
                <h2>your daily jobs</h2>
            </div>
            <div class="content-menu__subtitle">
                <p>The only way to get things done.</p>
                <button mat-raised-button>Meet the To-do list</button>
            </div>
        </div>
       <div class="content-menu__images">       
       <img class="Image-menu" src="./../../../assets/layout/02.jpg" alt="pessoa no computador" >   
       </div>
    </div>
</section> 

