<section>
    <div class="content-text">
        <h3>good things</h3>
    </div>
    <input class="content-inputA" type="radio" name="position" checked />
    <input class="content-inputB" type="radio" name="position" />
    <input class="content-inputC" type="radio" name="position" />
    <main id="carousel">
        <div class="item">
            <div class="content-item">
                <img class="img-first" src="./../../../assets/cards/bitmapA.png" alt="Pessoas Sorrindo" width="100%">
                <img class="img-logo" src="./../../../assets/cards/icone-coopers.png" alt="logo">
                <div class="content-text-card">
                    <mat-chip-list>
                    <mat-chip class="chip">
                        Function
                    </mat-chip>
                    </mat-chip-list>
                    <p>Organize your daily job enhance your life performance</p>
                </div>
                <button mat-button>read more</button>
            </div>
        </div>
        <div class="item">
            <div class="content-item">
                <img class="img-first" src="./../../../assets/cards/bitmapB.png" alt="Pessoas Sorrindo" width="100%">
                <img class="img-logo" src="./../../../assets/cards/icone-coopers.png" alt="logo">
                <div class="content-text-card">
                    <mat-chip-list>
                    <mat-chip class="chip">
                        Function
                    </mat-chip>
                    </mat-chip-list>
                    <p>Organize your daily job enhance your life performance</p>
                </div>
                <button mat-button>read more</button>
            </div>
        </div>
        <div class="item">
            <div class="content-item">
                <img class="img-first" src="./../../../assets/cards/bitmapC.png" alt="Pessoas Sorrindo" width="100%">
                <img class="img-logo" src="./../../../assets/cards/icone-coopers.png" alt="logo">
                <div class="content-text-card">
                    <mat-chip-list>
                    <mat-chip class="chip">
                        Function
                    </mat-chip>
                    </mat-chip-list>
                    <p>Organize your daily job enhance your life performance</p>
                </div>
                <button mat-button>read more</button>
            </div>
        </div>

    </main>
</section> 