<section>
    <mat-card class="content-card mat-elevation-z8">
        <img class="perfil" src="./../../../assets/form/tatiana.png" alt="">
        <img class="formImg" src="./../../../assets/form/grafismo.png" alt="">
        <div class="content-form">
            <img class="PolImg" src="./../../../assets/form/PolygonGreen.png" alt="form">
            <img class="vectorImg" src="./../../../assets/form/Vector.png" alt="Vector">
            <mat-card-title class="title">
                <h1>Get in</h1>
                <h3>touch</h3>
            </mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
            <div class="example-container">
                <form name="contatoTaskCoopers" method="POST" data-netlify="true">
                    <label for="name">Your Name</label><br>
                    <input type="name" id="name" name="name" onfocus="this.value=''" value="type your name here...">
                    <!-- <div class="content-label">                        
                    </div> -->
                    <div class="content-input">
                        <div style="width: 50%;">
                            <label class="email" for="email">Email* </label>
                            <input class="inputDiv" type="email" id="email" name="email" onfocus="this.value=''" value="example@example.com" required>
                        </div>
                        <div style="width: 45%;">
                            <label for="tel">Telephone* </label>
                            <input type="tel" id="tel" name="tel" onfocus="this.value=''" value="( )____-____" required>
                        </div>
                    </div>
                    <p><label>Message: <textarea class="inputMessage" name="message"></textarea></label></p>
                    

                </form>
            </div>
            <mat-card-actions class="content-button">
                <button class="button" type="submit" mat-raised-button>Send now</button>
            </mat-card-actions>
        </div>
    </mat-card>

</section>