<section>
    <mat-card class="content-card mat-elevation-z8">
        <img class="perfil" src="./../../../assets/form/tatiana.png" alt="">
        <img class="formImg" src="./../../../assets/form/grafismo.png" alt="">
        <div class="content-form">
            <img class="PolImg" src="./../../../assets/form/PolygonGreen.png" alt="form">
            <img class="vectorImg" src="./../../../assets/form/Vector.png" alt="Vector">
            <mat-card-title class="title">
                <h1>Get in</h1>
                <h3>touch</h3>
            </mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
            <div class="example-container">
                <form action="/action_page.php">
                    <label for="fname">Your Name</label><br>
                    <input type="text" id="fname" name="fname" value="type your name here...">
                    <!-- <div class="content-label">                        
                    </div> -->
                    <div class="content-input">
                        <div style="width: 50%;">
                            <label class="email" for="lname">Email* </label>
                            <input class="inputDiv" type="text" id="lname" name="lname" value="example@example.com">
                        </div>
                        <div style="width: 45%;">
                            <label for="lname">Telephone* </label>
                            <input type="any" id="lname" name="lname" value="( ) ____-____">
                        </div>
                    </div>
                    <label for="fname">Message*</label><br>
                    <input class="inputMessage" type="text" name="lname" value="Type what you want to say to us"> <br>

                </form>
            </div>
            <mat-card-actions class="content-button">
                <button class="button" mat-raised-button>Send now</button>
            </mat-card-actions>
        </div>
    </mat-card>

</section>