<section>    
    <div class="content-banner">
        <div class="content-todo-banner__text">
           <h2>To-do List</h2>
           <hr>
           <p>Choose the right plan for you and get in touch through our contact form. We are here to help.</p>
        </div>  
    </div>    

    <!-- <div class="content-banner">
        <div class="content-todo-banner">
            <div class="content-todo-banner__text">
               <h2>To-do List</h2>
               <hr>
               <p>Choose the right plan for you and get in touch through our contact form. We are here to help.</p>
            </div>
        </div>
    </div>   -->

    <!-- <div  class="content-banner">
         <img src="./../../../assets/layout/backgroundBanner.png" alt="" width="100%">
         <div class="content-todo-banner__text">
            <h2>To-do List</h2>
            <hr>
            <p>Choose the right plan for you and get in touch through our contact form. We are here to help.</p>
         </div>
    </div> -->

</section>
